.app-progress {
    width: 100%;
}

/* track to hơn */
.app-progress-track {
    position: relative;
    width: 100%;
    height: 20px;

    background: #cccc;
    border-radius: 999px;
    overflow: hidden;
}

/* bar */
.app-progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #ef4444, #dc2626);
    border-radius: 999px;
    transition: width 0.3s ease;
}

/* label nằm giữa */
.app-progress-label {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    font-weight: 600;

    color: #ffff;
    pointer-events: none;

    mix-blend-mode: difference;
}